$main-color: #18304B;
$btn-color: rgb(197, 187, 187);
$btn-fontsize: 17px;
$btn-hover-property: border-bottom 4px solid #007AFF;
p{
    color: #007AFF;
}

.btn{
width: 80%;
}

a{
    color: $btn-color;
    text-decoration: none;
    font-size: $btn-fontsize;
    font-weight: 700;
    font-family: "Chivo", sans-serif;
    border: 1px solid #007AFF;
}


.col-4{
    border: 1px solid black;
    width: 350px;
    height: 300px;
}

