* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
}

.first{

    width: 320px;
    height: 270px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 10px;

}

.text{
    text-align: center;
}

.title{
    font-size: 30px;
    color: #3a4971;
    font-weight: 900;
    font-family:;
}

.img-title{
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-style: none;
   
    
}

a{
    cursor: pointer;
    color: #3a4971;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}

.font-size{
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    box-sizing: border-box;
}

.dot{
    margin-left: 0.5rem!important;
    margin-right: 0.5rem!important;
    box-sizing: border-box;
    font-weight: bolder;
    font-size: 14px; 
    
    

}

p{
    margin-top: 20px;
    margin-bottom: 1rem;
}

.all{
    display: flex;
    align-items: center;
    justify-content: center;
}




