*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    width: 98%;
    height: 700px;
    border: 1px solid black;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.grid-item:first-child{
    grid-row: 1/1;
    grid-template-columns: 2/3;
    background-color: red;
}