*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.div1{
    background-color: lightblue; height: 200px;
    
  
}

.div2{
  background-color: lightgreen; height: 200px;
 
}

.div3{
    background-color: lightcoral; height: 200px;

}