* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.all {
    display: flex;
justify-content: center;
    gap: 25px;
}

body{
    font-family: "Istok Web", sans-serif;
}

.heading{
    margin-bottom: 56px;
    margin-top: 50px;
    text-align: center;
}

span{
    font-size: 1rem;
    color: #2c7ae7;
    font-family: "Istok Web", sans-serif;
}

h2{
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0px;
    margin-top: 10px;
    font-family: Montserrat, sans-serif;
    color: #3b3b44;
    line-height: 1.2;
}

.client1 {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    color: #303036;
    height: 300px;
    padding: 2rem 1.5rem;
    transition: all 0.25s;
    box-sizing: border-box;
    width: 350px;
    border: 1px solid rgb(207, 195, 195);
    

}

img{
    width: 80px;
    height: 80px;
   box-sizing: border-box;
   
}

h4{
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

p{
    color: #63636b;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.client-info p {
    margin-bottom: 0;
    box-sizing: border-box;
    text-align: left;
    
}


.client-title{

    display: flex;
    margin-bottom: 1.5rem;
    gap: 10px;
    
    justify-content: left;
    
}

.client-name{

    margin-top: 10px;
}


a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.center{

    display: flex;
    justify-content: center!important;

    margin-top: 50px;
}

.btn{

    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-right: 20px;
    text-align: center
}

.btnn{
    width: 250px;
    background: linear-gradient(to right, #568ad3 0, #0f58bd 100%);
    color: white;
    padding: 13px 22px;
    outline: 0;
    border: 1px #917cddec solid;
    border-radius: 6px;
    text-align: center;
}

.btnn span{
    color: white;
}

.client1:hover{
    box-shadow: 2px 4px 20px 1px rgba(45, 45, 45, 0.13);
    transition: .2s;
    
}

